
.user-detail-panel-pos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 30px; */
    gap: 1vw;
    /* border: 2px solid crimson; */
    flex-wrap: wrap;
    margin: 12vh 0 0 0;
  
    /* margin: 2.34vh 0; */
    /* margin-top: 10vh; */
  }
  
  .group1,
  .group2,
  .group3,
  .group4 {
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    justify-content: space-between;
    /* gap: .65vw; */
    gap: 1vw;
    /* /10px/ */
    flex-wrap: nowrap;
    /* align-items: center; */
    /* border: 2px solid lightcoral; */
  }
  
  .group3 .payment-type {
    color: #000;
    text-align: right;
    font-family: Josefin Sans;
    /* font-size: 10px; */
    font-size: .833vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  
  .top-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* /30px/ */
    /* flex-wrap: nowrap; */
  
    /* border: 2px solid lightseagreen; */
  }
  
  .top-field input {
    /* font-size: 10px; */
    font-size: .833vw;
    font-weight: 400;
    text-align: right;
    border-radius: 5px;
    /* padding: 5px; */
    padding: 0.4167vw;
    border: 1px solid #aeaeae;
    background-color: #d9d9d9;
    
    /* width: 150px; */
    /* width: 200px; */
    width: 16.6667vw;
    /* /147px, 17px/ */
    /* height: 17px; */
    height: 1.417vw;
  }
  
  .top-field span {
    /* font-size: 14px; */
    /* font-size: 1.1667vw; */
    font-size: 0.781vw;
    /* /13px, .85vw/ */
    line-height: 0.85vw;
    /* /0.85vw/ */
    font-weight: 600;
  }
  