.control-buttons {
  /* border: 2px solid black; */
  width: 100%;
  height: max-content;
  /* margin: 0 0 30px 0; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 30px; */
  gap: 2.5vw;
  /* margin-bottom: 2vh; */
}

.help-left {
  /* font-size: 2vw; */
}

.Group198 {
  width: 331px;
  height: 31px;
  position: relative;
  }

.F5FindItem,
.F1SellItemDetails,
.F9PaymentDetails,
.F3CustomerInfo,
.F9QtyChangeRate,
.CtrlF1Help {
  position: absolute;
  color: black;
  font-size: 10px;
  font-family: Josefin Sans;
  font-weight: 700;
  word-wrap: break-word;
}

.F5FindItem {
  left: 113px;
  top: 16px;
}

.F1SellItemDetails {
  left: 113px;
  top: 0px;
}

.F9PaymentDetails {
  left: 0px;
  top: 16px;
  
}

.F3CustomerInfo {
  left: 229px;
  top: 0px;
  
}

.F9QtyChangeRate {
  left: 229px;
  top: 21px;
  
}

.CtrlF1Help {
  left: 0px;
  top: 0px;
}


.buttons-right {
  display: flex;
  align-items: start;
  justify-content: end;
  /* gap: 30px; */
  gap: 2.5vw;
  width: max-content;
  /* background-color: #03b9d1; */
}

.hold-button {
  position: relative;
  /* width: 147px; */
  width: 12.25vw;
  /* height: 50px; */
  height: 8.333vh;
  background-color: #ffe500;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  /* gap: 15px; */
  gap: 1.25vw;

  /* font-size: 14.73px; */
  font-size: 1.227vw;
  color: white;

  cursor: pointer;

  box-shadow: 5px 5px 20px 0px #00000040 inset;
  transition: background-color 0.3s ease;
}

.save-button {
  /* width: 147px;
    height: 50px; */
  width: 12.25vw;
  height: 8.333vh;
  background-color: #03b9d1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  /* gap: 15px; */
  gap: 1.25vw;

  /* font-size: 14.73px; */
  font-size: 1.227vw;
  color: white;

  cursor: pointer;

  box-shadow: 5px 5px 20px 0px #00000040 inset;
  transition: background-color 0.3s ease;
}

.cancel-button {
  /* width: 147px;
  height: 50px; */
  width: 12.25vw;
  height: 8.333vh;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  /* gap: 15px; */
  gap: 1.25vw;


  /* font-size: 14.73px; */
  font-size: 1.227vw;
  color: white;

  cursor: pointer;

  box-shadow: 5px 5px 20px 0px #00000040 inset;
  transition: background-color 0.3s ease;
}

.notification-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e74c3c;
  color: #fff;
  border-radius: 50%;
  /* padding: 5px 10px; */
  padding: .833vh .833vw;
  /* font-size: 12px; */
  font-size: 1vw;
}