.credit-line {
    width: 100%;
    height: 1.823vw;
    color: white;
    background-color: #ABD435;
    padding: 1vw 1vw;
    font-size: 1vw; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.credit-line span a{
    text-decoration: none;
}