.main-screen-card {
    /* width: 13vw;
    height: 13vw; */
    background-color: #A2B22C;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.main-screen-card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px 0px #00000040 inset;
}