.payement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  /* align-items: center; */
  /* background-color: #c95a5a; */
  /* border: 2px dotted rgb(43, 9, 23); */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  width: 100%;
  height: max-content;

  /* border: 2px solid green; */

}

.payment-top {
  margin: 0;
  padding: .416vw;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* border: 2px dotted crimson; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.payment-method-group {
  width: 30%;
  padding: 0;
  margin: 0;


  height: 37.166vh;
  border: 1px solid #ADADAD
    /* border: 2px solid yellow; */

    /* display: flex; */
}

.payment-method-group legend {
  font-size: .833vw;
  margin-left: .833vw;
}

.methods {
  padding: .833vw;
  display: flex;
  flex-direction: column;
  gap: .833vh;
  font-family: Josefin Sans;
  font-size: 1.33vw;
  font-weight: 700;
  line-height: 1.33vw;
  letter-spacing: 0em;
  text-align: left;

}

.methods span {
  font-style: italic;
}

.methods b {
  font-style: normal;
  font-weight: 700;
}

.cash-method,
.card-method,
.cheque-method,
.upi-method {
  width: 100%;
  height: 4.5vh;
  padding: .833vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .833vw;

}

.cash-method:hover,
.card-method:hover,
.cheque-method:hover,
.upi-method:hover {
  cursor: pointer;
  border-radius: 5px;
  border: 0.2px solid #000000
}

.active {
  border-radius: 5px;
  background-color: white;
  border: 0.2px solid #000000
}


.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1;
  width: max-content;
  height: max-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
}

/* cash */

.popup {
  width: 1027px;
  /* width: max-content; */
  height: max-content;
  /* width: max-content; */
  background-color: #F2F2F2;
  padding: 10px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

.popup .header {
  padding: 0;
  margin: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.popup-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;




  /* border: 2px solid crimson; */

}

.popup-title .header svg,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.popup-title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.cancel-icon {
  cursor: pointer;
}

.separator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #000000
}

.popup .container {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  /* border: 2px solid black; */
  gap: 40px;
}

.container .content {
  padding: 0;
  margin: 30px auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.content .input-field {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  /* text-align: center; */
  /* border: 2px dotted green; */
}

.content .input-field label {
  color: #000;
  text-align: right;
  font-size: 23.762px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content .input-field input {
  width: 310.095px;
  padding: 8px;
  border-radius: 8.25px;
  /* flex-direction: column; */
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;

  outline: none;
  border: none;
}

.content .buttons {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* border: 2px solid navy; */
}

.content .buttons button {
  width: 106px;
  height: 38px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.save-btn {
  background-color: #00d1ff;
  color: #fff;
}

.cancel-btn {
  background-color: #f00;
  color: #fff;
}

/* cash */

/* card */

.popup-card {
  width: 1027px;
  height: max-content;
  /* width: max-content; */
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}

.popup-card .header {
  padding: 0;
  margin: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.popup-card .popup-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;




  /* border: 2px solid crimson; */

}

.popup-title .header svg,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.popup-title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.cancel-icon {
  cursor: pointer;
}

.separator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #000000
}

.popup-card .container {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* border: 2px solid black; */
  gap: 40px;
}

.popup-card .container .content {
  padding: 0;
  margin: 0 auto;
  margin: 30px auto 0 auto;
  box-sizing: border-box;
  width: max-content;
  height: max-content;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.content .input-field {

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 80px; */
  /* text-align: center; */
  /* border: 2px dotted crimson; */
}

.input-field label {
  color: #000;
  text-align: right;
  font-size: 23.762px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-field input {
  width: 310.095px;
  padding: 8px;
  border-radius: 8.25px;
  /* flex-direction: column; */
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;

  outline: none;
  border: none;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* border: 2px solid navy; */
}

.buttons button {
  width: 106px;
  height: 38px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.save-btn {
  background-color: #00d1ff;
  color: #fff;
}

.cancel-btn {
  background-color: #f00;
  color: #fff;
}

/* card */

/* cheque */
.popup-cheque {
  width: 1027px;
  /* width: max-content; */
  height: max-content;
  /* width: max-content; */
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  /* border: 2px solid red; */


}

.popup-cheque .header {
  padding: 0;
  margin: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  justify-content: space-between;

  
}

.header .popup-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  




  /* border: 2px solid crimson; */

}

.popup-cheque .header svg,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.popup-title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.cancel-icon {
  cursor: pointer;
}

.separator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #000000
}

.popup-cheque .container {
  padding: 0;
  margin: 15px auto 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  /* border: 2px solid black; */
  /* gap: 40px; */
}

.popup-cheque .content {
  padding: 0;
  /* margin: 30px auto 0 auto; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  flex-wrap: wrap;

}

.popup-cheque .bank,
.cheque {

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-cheque .content .input-field {

  width: 463.87px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  /* text-align: center; */
  /* border: 2px dotted green; */
}

.popup-cheque .content .input-field label {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;

}

.popup-cheque .content .input-field input {
  width: 256.36px;
  padding: 8px;
  border-radius: 8.25px;
  /* flex-direction: column; */
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;

  outline: none;
  border: none;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* border: 2px solid navy; */
}

.buttons button {
  width: 106px;
  height: 38px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.save-btn {
  background-color: #00d1ff;
  color: #fff;
}

.cancel-btn {
  background-color: #f00;
  color: #fff;
}

/* cheque */
/* upi */

.popup-upi {
  width: 1027px;
  height: max-content;
  /* width: max-content; */
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  
}

.popup-upi .header{
  padding: 0;
  margin: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.popup-upi .popup-title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;

  


  /* border: 2px solid crimson; */
  
}

.popup-upi .header svg, h2{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.popup-upi .popup-title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.cancel-icon {
  cursor: pointer;
}

.separator {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #000000
}

.popup-upi .container {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* border: 2px solid black; */
  gap: 40px;
}

.popup-upi .content {
  padding: 0;
  margin: 30px auto 0 auto;
  box-sizing: border-box;
  width: max-content;
  height: max-content;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.popup-upi .input-field {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  /* text-align: center; */
  /* border: 2px dotted green; */
}

.popup-upi .input-field label {
  color: #000;
  text-align: right;
  font-size: 23.762px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup-upi .input-field input {
  width: 310.095px;
  padding: 8px;
  border-radius: 8.25px;
  /* flex-direction: column; */
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;

  outline: none;
  border: none;
}

.popup-upi .buttons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* border: 2px solid navy; */
}

.popup-upi .buttons button {
  width: 106px;
  height: 38px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.popup-upi .save-btn {
  background-color: #00d1ff;
  color: #fff;
}

.popup-upi .cancel-btn {
  background-color: #f00;
  color: #fff;
}

/* upi */

.close-btn {
  cursor: pointer;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.billing-amount-group {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  /* border: 2px solid black; */
}

.billing-amount {
  width: 70%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* border: 2px dotted crimson; */
}

.billing-amount-left {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  /* border: 2px solid blue; */

  /* font-size: 11px; */
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.75vw;
  letter-spacing: 0em;

  input[type="number"] {
    width: 16.83vw;
    /* height: 36px; */
    height: 6vh;
    /* padding: 6px; */
    padding: .5vh;

    color: #ffd300;
    background-color: black;
    border-radius: .166vw;
    outline: none;
    cursor: default;

    /* caret-color: transparent; */

    /* font-size: 20px; */
    font-family: Josefin Sans;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;

  }
}

.billing-amount-field {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .833vw;
}


.billing-amount-right {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  /* border: 2px solid crimson; */
  gap: 1.5rem;

  input[type="number"] {
    width: 16.83vw;
    /* height: 36px; */
    height: 6vh;
    /* padding: 6px; */
    padding: .5vh;

    color: #ffd300;
    background-color: black;
    border-radius: .166vw;
    outline: none;
    cursor: default;

    /* caret-color: transparent; */

    /* font-size: 20px; */
    font-family: Josefin Sans;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: right;

  }
}

.billing-amount-field-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: .5rem;

  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  ;

}


/* .Payment-Method-legend{
    background-color: #e9eee9;
    width: max-content;
    height:max-content;
    width: 300px;
    height: 300px;
    border: 2px solid yellow;
    margin:0px;
    padding:0;
  } */

.payment-bottom {
  /* border: 2px dotted red; */
  width: 100%;
  height: 8.688rem;
}



.payment-table {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: .188rem;
  /* height: 100px; */
  /* border: 2px solid rgb(32, 195, 189); */
  margin: 0;
  padding: .625rem;

  display: flex;

}

.payment-method-table {
  /* margin: 0 .625rem 0 0; */
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  /* border: 2px solid black; */
  overflow: auto;
}

.cheque-table {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  /* border: 2px solid grey; */
}


.t-head {
  margin: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid crimson; */
  padding: 0 .625rem 0 0;

}

.head-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;

  font-size: .625rem;
  line-height: .625rem;
  font-weight: 700;
}

.head-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  font-size: .625rem;
  line-height: .625rem;
  font-weight: 700;
}

.t-item {
  margin: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid crimson; */
  padding: .313rem .625rem .313rem 0;

  &:hover {
    background-color: #eaeaea;
    border-radius:0.313rem;
    cursor: pointer;
  }

}

.item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  font-size: .625rem;
  line-height: .625rem;
  font-weight: 400;


}


.item-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  font-size: .625rem;
  line-height: .625rem;
  font-weight: 400;
}