.content {
    padding: 0 1.95vw;
    width: 100%;
    height: 100%;

    /* display: grid;
    place-content: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-evenly; */
    gap: 30px;
    /* 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px; */
    /* overflow: auto; */



    /* border: 2px solid blue; */

}


.transaction-return-group {
    width: 100%;
    height: max-content;
    /* border: 2px solid crimson; */
    /* padding: 1.95vw 0; */
    /* padding: 1.95vw; */

    display: flex;
    flex: 1;
    /* align-items: center;
    justify-content: space-between; */
}

.transaction {
    width: 70%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 5px;
}

.tbox {
    width: 100%;
    height: 488px;
    border-radius: 5px;
    border: 1px solid black;

    padding: 20px;

    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    flex: 1;
    gap: 30px;
}

.tbox legend {
    font-size: 1vw;
    font-weight: 400;
    line-height: 10px;
}

.return {
    width: 30%;
    height: 100%;
    /* border: 2px solid black; */
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 5px;
}

.rbox {
    /* width: 100%;
    height: 488px;
    border: 1px solid black;
    border-radius: 5px; */
    width: 100%;
    height: 488px;
    border-radius: 5px;
    border: 1px solid black;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.rbox legend {
    font-size: 1vw;
    font-weight: 400;
    line-height: 10px;
}



.swapping-buttons {
    width: 10%;
    height: 488px;
    /* border: 2px solid white; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.return-button {
    width: 63px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.unreturn-button {
    width: 63px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.credit-line {
    width: 100%;
    height: 35px;
    color: white;
    background-color: #ABD435;
    padding: 10px 30px;

    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: static;
    bottom: 0;
    left: 0;
}

.tinfo-group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* gap: 1.95vw; */
    flex-wrap: wrap;
    /* border: 2px solid crimson; */
    /* gap: 1px; */
    /* flex-wrap: wrap; */


}

.t-field {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
    gap: 10px;
    /* gap: 3vw; */

    /*30px*/
    /* flex-wrap: nowrap; */

    /* border: 2px solid lightseagreen; */
}

.t-field input {

    border-radius: 5px;

    border: 1px solid #AEAEAE;
    width: 150px;
    width: 7.5vw;
    height: 1.2vw;
    /*147px, 17px*/
}

.t-field span {
    font-size: 13px;
    /*13px, .85vw*/
    line-height: 0.85vw;
    /*0.85vw*/
    font-weight: 400;
}